* {
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: 'PTSans-bold';
    src: url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.eot');
    src: url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSans-bolditalic';
    src: url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.eot');
    src: url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSans-italic';
    src: url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.eot');
    src: url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSans-regular';
    src: url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.eot');
    src: url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSanscaption-bold';
    src: url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.eot');
    src: url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.woff') format('woff'),
    url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSanscaption-regular';
    src: url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.eot');
    src: url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.woff') format('woff'),
    url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSansnarrow-bold';
    src: url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.eot');
    src: url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.woff') format('woff'),
    url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSansnarrow-regular';
    src: url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.eot');
    src: url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.woff') format('woff'),
    url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.svg#webfont') format('svg');
}

.navMobile {
    display: none;
}

header {
    width: 1024px;
    margin: auto;
    background-color: #ffffff;
}

.logo {
    margin: 14px 0 10px 0;
}

.menu {
    display: none;
}

nav {
    float: right;
    margin-top: 35px;
}

nav a {
    text-transform: capitalize;
    text-decoration: none;
    font-family: PTSans-Regular, sans-serif;
    font-size: 20px;
    color: #778081;
    line-height: 130%;
    margin-left: 28px;
}

nav a.active {
    border-bottom: 2px solid #c62a31;
    margin-top: 6px;
    color: #454545;
}

nav a:hover {
    border-bottom: 2px solid #c62a31;
    color: #454545;
}

.banner{
    height: 520px;
    background: url("../img/banner_desktop_hd.png") no-repeat;
    background-size: cover;
}

.slideShow {
    width: 1024px;
    margin: auto;
}

.left {
    float: left;
    height: 47px;
    width: 18px;
    background: url("../img/sprite2.png") 0 -205px no-repeat;
    margin: 233px 0 0 21px;
    cursor: pointer;
}

.right {
    float: right;
    height: 47px;
    width: 21px;
    background: url("../img/sprite2.png") 0 -260px no-repeat;
    margin-top: 233px;
    cursor: pointer;
}

.clear {
    clear: both;
}

.newsDate {
    background-color: rgba(0, 0, 0, 0.7);
    width: 530px;
    height: 216px;
    float: left;
    margin: 180px 0 0 71px;
}

.newsDate h1 {
    text-transform: uppercase;
    font-family: PTSans-Regular,sans-serif;
    font-size: 40px;
    color: #ffffff;
    line-height: 130%;
    margin: 20px 15px;
    text-align: center;
}


.newsDate p {
    font-family: PTSans-Regular,sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 134%;
    margin: 0 15px 22px 15px;
}

.newsDate p span {
    text-transform: capitalize;
}

.newsDate__calendar {
    height: 32px;
    float: left;
    width: 35px;
    background: url("../img/sprite2.png") 0 -316px no-repeat;
    margin-left: 15px;
}


.newsDate .date {
    float: left;
    font-family: PTSans-Regular,sans-serif;
    font-size: 20px;
    color: #ffffff;
    line-height: 130%;
    margin-left: 30px;
}

.newsDate a {
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    margin-top: -10px;
    margin-left: 40px;
    font-family: PTSans-Regular,sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 136%;
    border-radius: 3px;
    background-color: #c62a31;
    padding: 11px 24px;
}

.squares {
    margin: 85px 0 0 475px;
}

.square_active {
    width: 8px;
    height: 8px;
    border: 1px solid #808080;
    float: left;
    margin-left: 10px;
    background-color: #808080;
    margin-top: 0;
}

.square {
    width: 8px;
    height: 8px;
    border: 1px solid #808080;
    float: left;
    margin-left: 10px;
}

.texture {
    width: 100%;
    height: 1198px;
    background: url("../img/texturaM.png") repeat;
}

.lists {
    width: 1024px;
    margin: auto;
}

.news, .times, .members {
    margin: 55px 0 55px 0;
    overflow: hidden;
}

h2 {
    text-transform: capitalize;
    font-family: PTSans-Regular, sans-serif;
    font-size: 24px;
    color: #454545;
    line-height: 134%;
    margin-bottom: 42px;
}

.news {
    float: left;
    margin-right: 50px;
    width: 304px;
    height: 495px;
}

.dates, ul li {
    font-family: PTSans-Regular, sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 125%;
    margin-bottom: 15px;
}

.name {
    font-family: PTSans-Regular, sans-serif;
    font-size: 16px;
    color: #c62a31;
    line-height: 125%;
    margin-bottom: 13px;
}

.description {
    font-family: PTSans-Regular, sans-serif;
    font-size: 14px;
    color: #778081;
    line-height: 100%;
    margin-bottom: 21px;
}

.description:last-child {
    margin-bottom: 0;
}

.times {
    float: left;
    margin-right: 95px;
    margin-left: 20px;
    width: 297px;
    height: 495px;
}


.times ul li {
    margin-bottom: 14px;
    color: #c62a31;
    font-size: 20px;
}

.times ul {
    padding-left: 20px;

}

.time {
    font-family: PTSans-Regular, sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 125%;
}

.event {
    text-transform: capitalize;
    font-family: PTSans-Regular, sans-serif;
    font-size: 16px;
    color: #778081;
    line-height: 125%;
}

.members {
    float: left;
    width: 258px;
    height: 495px;
}


.members ol li {
    position: relative;
}

.members ol li:after {
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #c62a31;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -5px;
    left: -25px;
}

.members ol {
    padding-left: 25px;
    font-size: 12px;
}

.members p {
    margin-left: 30px;
}

.members-list__names {
    font-family: PTSans-Regular, sans-serif;
    font-size: 16px;
    color: #c62a31;
    line-height: 125%;
}

.members-list__description {
    font-family: PTSans-Regular, sans-serif;
    font-size: 16px;
    color: #778081;
    line-height: 125%;
    margin-bottom: 20px;
}

.articles {
    width: 1024px;
    margin: auto;
}

.mainDescription {
    float: left;
    width: 495px;
    height: 439px;
    overflow: hidden;
    margin-bottom: 50px;
}

.mainDescription:last-child {
    float: right;
}

.image {
    float: left;
    margin: 0 22px 49px 0;
}

.image_tablet, .image_mobile {
    display: none;
}

.mainDescription:last-child .image {
    float: right;
    margin: 0 0 49px 22px;
}


.mainDescription .names {
    margin-bottom: 35px;
    font-family: PTSans-Regular, sans-serif;
    font-size: 16px;
    color: #c62a31;
    line-height: 125%;
}

.mainDescription p {
    margin-bottom: 20px;
    font-family: PTSans-Regular, sans-serif;
    font-size: 14px;
    color: #778081;
    line-height: 100%;
}

.icons {
    width: 1024px;
    margin: auto;
}

.mainsIcons {
    width: 700px;
    margin-left: 165px;
}

.mainsIcons a {
    float: left;
    height: 41px;
}

.facebook {
    width: 42px;
    background: url("../img/sprite2.png") 0 -164px no-repeat;
    margin-left: 0;
}

.twitter {
    width: 42px;
    background: url("../img/sprite2.png") 0 0 no-repeat;
    margin-left: 88px;
}

.linkedIn {
    width: 42px;
    background: url("../img/sprite2.png") 0 -41px no-repeat;
    margin-left: 88px;
}

.instagram {
    width: 42px;
    background: url("../img/sprite2.png") 0 -82px no-repeat;
    margin-left: 88px;
}

.google {
    width: 42px;
    background: url("../img/sprite2.png") 0 -123px no-repeat;
    margin-left: 88px;
}

.youtube {
    width: 42px;
    background: url("../img/sprite2.png") 0 -357px no-repeat;
    margin-left: 88px;
}

footer {
    background-color: #c62a31;
}

.footerWrap {
    width: 1024px;
    margin: auto;
    font-family: Lintel-Regular, sans-serif;
    font-size: 13px;
    color: #ffffff;
    line-height: 115%;
    overflow: hidden;
}

.footerWrap p {
    margin-top: 53px;
    margin-bottom: 55px;
}

.references {
    width: 235px;
    margin: 53px auto 55px;
}


.copyright {
    float: left;
}

.inEpam {
    float: right;
}

.help, .about {
    margin-right: 26px;
}

.help, .about, .contact {
    cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1024px) {

    .navMobile {
        display: none;
    }

    header {
        width: 710px;
        margin: auto;
    }

    .menu {
        display: none;
    }

    .banner {
        height: 490px;
        background: url("../img/banner_tablet.png") no-repeat;
        background-size: cover;
    }

    .slideShow {
        width: auto;
    }

    .left, .right {
        display: none;
    }

    .newsDate {
        margin: 137px 0 0 120px;
    }

    .squares {
        margin-left: 175px;
    }

    .square_active {
        margin-top: 0;
    }

    .texture {
        height: 2132px;
    }

    .lists {
        width: 710px;
        margin: auto;
    }

    .news {
        width: 712px;
        height: 390px;
        margin-bottom: 55px;
    }

    .members {
        height: 473px;
        margin-top: 0;
    }

    .times {
        height: 473px;
        margin-top: 0;
        margin-left: 0;
    }

    .articles {
        width: 710px;
        margin: auto;
    }

    .mainDescription {
        width: 700px;
        height: 433px;
    }

    .mainDescription:last-child {
        float: left;
    }

    .image_tablet {
        float: left;
        display: block;
        margin: 0 30px 24px 0;
    }

    .mainDescription:last-child .image_tablet {
        float: right;
        display: block;
        margin: 0 0 24px 30px;
    }

    .image, .image_mobile {
        display: none;
    }

    .icons {
        width: 710px;
        margin: auto;
    }

    .mainsIcons {
        margin-left: 83px;
    }

    .twitter, .linkedIn, .instagram, .google, .youtube {
        margin-left: 60px;
    }

    .footerWrap {
        width: 710px;
        margin: auto;
    }

    .references {
        width: 205px;
    }
}


@media (min-width: 320px) and (max-width: 480px) {


    .navMobile {
        position: fixed;
        right: 0;
        display: block;
        width: 160px;
        height: 100%;
        background-color: rgba(198, 42, 49, 0.9);
    }

    .navMobile a {
        float: right;
        text-transform: capitalize;
        text-decoration: none;
        font-family: PTSans-Regular, sans-serif;
        font-size: 20px;
        line-height: 130%;
        color: #ffffff;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .cross {
        width: 26px;
        height: 24px;
        background: url("../img/sprite_mobile.png") 0 -252px no-repeat;
        margin: 33px 30px 56px auto;
        cursor: pointer;
    }

    .navMobile .active {
        color: #ffa4a4;
    }

    header {
        width: 282px;
        margin: auto;
    }

    nav {
        display: none;
    }

    .menu {
        width: 28px;
        height: 22px;
        float: right;
        display: block;
        background: url("../img/sprite_mobile.png") 0 0 no-repeat;
        margin-top: 34px;
        margin-right: 10px;
    }

    .banner {
        height: 415px;
        background: url("../img/banner_mobile.png") no-repeat;
        background-size: cover;
    }

    .slideShow {
        width: 282px;
        margin: auto;
    }

    .left, .right {
        display: none;
    }

    .left, .right {
        display: none;
    }

    .newsDate {
        width: 282px;
        height: 335px;
        margin-top: 20px;
        margin-left: 0;
    }

    .newsDate h1 {
        font-size: 38px;
        text-align: start;
        margin: 15px 20px;
    }

    .newsDate p {
        margin: 0 20px 15px;
    }

    .newsDate__calendar {
        margin-left: 20px;
    }

    .newsDate .date {
        margin-left: 10px;
        font-size: 17px;
    }

    .newsDate a {
        margin-top: 7px;
        margin-left: 85px;
    }

    .squares {
        margin-left: 52px;
        margin-top: 30px;
    }

    .square_active {
        margin-top: 0;
    }

    .texture {
        width: 100%;
        height: 3352px;
        background: url("../img/texturaM.png") repeat;
    }

    .lists {
        width: 282px;
        margin: auto;
    }

    .news {
        width: 282px;
        height: 495px;
        margin: 35px 0 48px;
    }

    .times {
        width: 282px;
        height: 477px;
    }

    .members {
        width: 282px;
        height: 479px;
    }

    .times, .members {
        margin: 0 0 48px;
    }

    .articles {
        width: 282px;
        margin: auto;
    }

    .mainDescription {
        width: 282px;
        height: 775px;
        margin: 0 0 45px;
    }

    .mainDescription:last-child {
        float: none;
    }

    .image_mobile {
        display: block;
        margin-bottom: 20px;
    }

    .image, .image_tablet {
        display: none;
    }

   .icons {
       width: 282px;
       margin: auto;
    }

   .mainsIcons {
        width: 282px;
        margin: 0;
    }

   .mainsIcons a {
       height: 29px;
   }

    .twitter, .linkedIn, .instagram, .google, .youtube {
        width: 29px;
        margin-left: 21px;
    }

    .footerWrap {
        width: 282px;
        margin: auto;
    }

    .facebook {
        width: 29px;
        background: url("../img/sprite_mobile.png") 0 -215px no-repeat;
        margin-left: 0;
    }

    .twitter {
        background: url("../img/sprite_mobile.png") 0 -30px no-repeat;
    }

    .linkedIn {
        background: url("../img/sprite_mobile.png") 0 -104px no-repeat;
    }

    .instagram {
        background: url("../img/sprite_mobile.png") 0 -178px no-repeat;
    }

    .google {
        background: url("../img/sprite_mobile.png") 0 -141px no-repeat;
    }

    .youtube {
        background: url("../img/sprite_mobile.png") 0 -67px no-repeat;
    }

    .footerWrap {
        width: auto;
    }

    .footerWrap p {
        float: none;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .references {
        width: 205px;
        margin-top: 25px;
        float: none;
        margin-bottom: 25px;
        position: relative;
        bottom: 40px;
    }

    .inEpam {
        position: relative;
        top: 35px;
    }


}


