* {
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: 'PTSans-bold';
    src: url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.eot');
    src: url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSans-bolditalic';
    src: url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.eot');
    src: url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSans-italic';
    src: url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.eot');
    src: url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSans-regular';
    src: url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.eot');
    src: url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSanscaption-bold';
    src: url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.eot');
    src: url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.woff') format('woff'),
    url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSanscaption-regular';
    src: url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.eot');
    src: url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.woff') format('woff'),
    url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSansnarrow-bold';
    src: url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.eot');
    src: url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.woff') format('woff'),
    url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSansnarrow-regular';
    src: url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.eot');
    src: url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.woff') format('woff'),
    url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.svg#webfont') format('svg');
}

header {
    width: 1024px;
    margin: auto;
    background-color: #ffffff;
}

.logo {
    margin: 14px 0 10px 0;
}

nav {
    float: right;
    margin-top: 35px;
    right: 209px;
}

nav a {
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'PTSans-bold', sans-serif;
    size: 20px;
    color: #778081;
    line-height: 130%;
    margin-left: 28px;
}

nav a.active {
    border-bottom: 2px solid #c62a31;
    margin-top: 6px;
    color: #454545;
}

nav a:hover {
    border-bottom: 2px solid #c62a31;
    color: #454545;
}

.banner{
    height: 520px;
    background: url("../img/banner_desktop_hd.png") no-repeat;
    background-size: cover;
}

.slideShow {

}
