* {
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: 'PTSans-bold';
    src: url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.eot');
    src: url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_bold_macroman/PTS75F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSans-bolditalic';
    src: url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.eot');
    src: url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_bolditalic_macroman/PTS76F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSans-italic';
    src: url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.eot');
    src: url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_italic_macroman/PTS56F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSans-regular';
    src: url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.eot');
    src: url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'),
    url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsans_regular_macroman/PTS55F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSanscaption-bold';
    src: url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.eot');
    src: url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.woff') format('woff'),
    url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsanscaption_bold_macroman/PTC75F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSanscaption-regular';
    src: url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.eot');
    src: url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.woff') format('woff'),
    url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsanscaption_regular_macroman/PTC55F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSansnarrow-bold';
    src: url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.eot');
    src: url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.woff') format('woff'),
    url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsansnarrow_bold_macroman/PTN77F-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'PTSansnarrow-regular';
    src: url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.eot');
    src: url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.eot?iefix') format('eot'),
    url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.woff') format('woff'),
    url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.ttf') format('truetype'),
    url('MyWebFont/ptsansnarrow_regular_macroman/PTN57F-webfont.svg#webfont') format('svg');
}

header {
    width: 1024px;
    margin: auto;
    background-color: #ffffff;
}

.logo {
    margin: 14px 0 10px 0;
}

nav {
    float: right;
    margin-top: 35px;
    right: 209px;
}

nav a {
    text-transform: capitalize;
    text-decoration: none;
    font-family: PTSans-Regular, sans-serif;
    font-size: 20px;
    color: #778081;
    line-height: 130%;
    margin-left: 28px;
}

nav a.active {
    border-bottom: 2px solid #c62a31;
    margin-top: 6px;
    color: #454545;
}

nav a:hover {
    border-bottom: 2px solid #c62a31;
    color: #454545;
}

.banner{
    height: 520px;
    background: url("../img/banner_desktop_hd.png") no-repeat;
    background-size: cover;
}

.slideShow {
    width: 1024px;
    margin: auto;
}

.left {
    height: 48px;
    float: left;
    width: 48px;
    background: url("../img/sprite2.png") 0 6px no-repeat;
    top: 238px;
    left: 18px;
}

.right {
    height: 48px;
    width: 48px;
    background: url("../img/sprite2.png") 0 6px no-repeat;
    top: 238px;
    right: 21px;
}

.clear {
    clear: both;
}

.newsDate {
    background-color: rgba(0, 0, 0, 0.7);
    width: 530px;
    height: 216px;
    float: left;
    margin: 180px 0 0 71px;
}

.newsDate h1 {
    text-transform: uppercase;
    font-family: PTSans-Regular,sans-serif;
    font-size: 40px;
    color: #ffffff;
    line-height: 130%;
    margin: 20px 15px;
    text-align: center;
}


.newsDate p {
    font-family: PTSans-Regular,sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 134%;
    margin: 0 15px 22px 15px;
}

.newsDate p span {
    text-transform: capitalize;
}

.newsDate__calendar {
    height: 40px;
    float: left;
    width: 35px;
    background: url("../img/sprite2.png") 0 -265px no-repeat;
    top: 0;
    right: 23px;
    bottom: 28px;
    left: 15px;
}


.date {
    float: left;
    font-family: PTSans-Regular,sans-serif;
    font-size: 20px;
    color: #ffffff;
    line-height: 130%;
}

.newsDate a {
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    margin-top: -10px;
    margin-left: 67px;
    font-family: PTSans-Regular,sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 136%;
    border-radius: 3px;
    background-color: #c62a31;
    padding: 11px 24px;
}

.squares {
    margin: 85px 0 0 475px;
}

.square_active {
    width: 8px;
    height: 8px;
    border: 1px solid #808080;
    float: left;
    margin-left: 10px;
    background-color: #808080;
    margin-top: 0;
}

.square {
    width: 8px;
    height: 8px;
    border: 1px solid #808080;
    float: left;
    margin-left: 10px;
}

.texture {
    width: 100%;
    height: 1198px;
    background: url("../img/texturaM.png") repeat;
}

.lists {
    width: 1024px;
    margin: auto;
}

.news, .times, .members {
    margin: 55px 0 55px 0;
    overflow: hidden;
}

h2 {
    text-transform: capitalize;
    font-family: PTSans-Regular, sans-serif;
    font-size: 24px;
    color: #454545;
    line-height: 134%;
    margin-bottom: 42px;
}

.news {
    float: left;
    margin-right: 50px;
    width: 304px;
    height: 495px;
}

.dates, ul li {
    font-family: PTSans-Regular, sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 125%;
    margin-bottom: 15px;
}

.name {
    font-family: PTSans-Regular, sans-serif;
    font-size: 16px;
    color: #c62a31;
    line-height: 125%;
    margin-bottom: 13px;
}

.description {
    font-family: PTSans-Regular, sans-serif;
    font-size: 14px;
    color: #778081;
    line-height: 100%;
    margin-bottom: 21px;
}

.description:last-child {
    margin-bottom: 0;
}

.times {
    float: left;
    margin-right: 95px;
    margin-left: 20px;
    width: 297px;
    height: 495px;
}


.times ul li {
    margin-bottom: 14px;
    color: #c62a31;
    font-size: 20px;
}

.times ul {
    padding-left: 20px;

}

.time {
    font-family: PTSans-Regular, sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 125%;
}

.event {
    text-transform: capitalize;
    font-family: PTSans-Regular, sans-serif;
    font-size: 16px;
    color: #778081;
    line-height: 125%;
}

.members {
    float: left;
    width: 258px;
    height: 495px;
}


.members ol li {
    position: relative;
}

.members ol li:after {
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #c62a31;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -5px;
    left: -25px;
}

.members ol {
    padding-left: 25px;
    font-size: 12px;
}

.members p {
    margin-left: 30px;
}

.members-list__names {
    font-family: PTSans-Regular, sans-serif;
    font-size: 16px;
    color: #c62a31;
    line-height: 125%;
}

.members-list__description {
    font-family: PTSans-Regular, sans-serif;
    font-size: 16px;
    color: #778081;
    line-height: 125%;
    margin-bottom: 20px;
}

.articles {
    width: 1024px;
    margin: auto;
}

.mainDescription {
    float: left;
    width: 495px;
    height: 439px;
    overflow: hidden;
    margin-bottom: 50px;
}

.mainDescription:last-child {
    float: right;
}

.image {
    float: left;
    margin: 0 22px 49px 0;
}

.mainDescription:last-child .image {
    float: right;
    margin: 0 0 49px 22px;
}


.names {
    margin-bottom: 35px;
    font-family: PTSans-Regular, sans-serif;
    font-size: 16px;
    color: #c62a31;
    line-height: 125%;
}

.mainDescription p {
    margin-bottom: 20px;
    font-family: PTSans-Regular, sans-serif;
    font-size: 14px;
    color: #778081;
    line-height: 100%;
}

.icons {
    width: 1024px;
    margin: auto;
}

.mainsIcons {
    width: 700px;
    height: 45px;
    margin-left: 165px;
}

.icon {
    float: left;
    margin-left: 88px;
    cursor: pointer;
}

.icon:first-child {
    margin-left: 0;
}

footer {
    height: 120px;
    background-color: #c62a31;
}

.footerWrap {
    width: 1024px;
    margin: auto;
    font-family: Lintel-Regular, sans-serif;
    font-size: 13px;
    color: #ffffff;
    line-height: 115%;
    overflow: hidden;
}

.footerWrap p {
    margin-top: 53px;
}

.references {
    width: 235px;
    margin: 53px auto 0;
}

.copyright {
    float: left;
}

.inEpam {
    float: right;
}

.help, .about {
    margin-right: 26px;
}



